	/* Nav */

#header {
   display: flex;
   background: #3872A9;
   height: 70px;
   margin: 0;
   align-items: center;
   box-shadow: 0px 1px 3px #00000087;
}

#logo {
    background: #458BCF;
    color: #F0C247;
    width: 200px;
    height: 100%;
    margin-right: 20px;
    padding-left: 10px;
    font-size: 30px;

    /* För att inte mosas med flex*/
    flex-shrink: 0;
}

#nav {
   display: flex;
   width: 100vw;
   height: 100%;
   justify-content: flex-start;
   align-items: center;
}

/* För användare som ej har JS aktiverat */
#noscriptBanner {
	display: block;
	background: #E43E3E;
	color: white;
	width: 100vw;
	padding: 8px 0;
	font-size: 30px;
	text-align: center;
}

#noCanvas {
	display: block;
	background: #E43E3E;
	color: white;
	margin: 5px 50px;
	padding: 5px 0;
	border-radius: 10px;
    box-shadow: 0 2px 3px 1px #00000087;
}

/* Länkarna i navigationsmenyn */
.navOption {
	display: flex;
    color: white;
	height: 100%;
	width: 150px;
    text-decoration: none;
    align-items: center;
	justify-content: center;
}

.navOption:hover {
    background: #F0C247;
    color: #3872A9;
}

.navOption p {
    margin: 0;
}

/* Profilrutan med finfin bild */
#profile {
   /* För att inte mosas med flex*/
   flex-shrink: 0;
}


	/* Page */

body {
    background: #EEE;
    color: white;
    margin: 0;
    font-size: 25px;
    font-family: "Ubuntu";
    overflow-x: hidden;
}

h1 {
   margin: 0px;
	font-size: 30px;
	text-align: center;
}

h2 {
   font-size: 25px;
   padding: 5px 0;
   text-align: center;
}

p {
   margin: 13px 20px 30px 20px;
	font-size: 21px;
}

em {
   font-style: inherit;
   color: #ffffff;
   background: #49b55c;
   padding: 2px 4px;
   display: inline-block;
   border-radius: 5px;
   font-size: 19px;
}

a {
   text-decoration: none;
   color: #3872a9;
}

/* Rubrik för bitar eller satser */
.pageHeader {
	color: white;
	background: #3872A9;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 10px;
	border-bottom: 2px solid #0000001c;
}

/* Inledande innehåll: Antal bitar, satser och lite text */
#page {
   color: black;
   width: 70%;
   height: 100%;
   margin: 50px auto 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}


	/* Home */

/* Generell wrapper-div */
.wrapper {
    width: 100%;
}

#textBox {
   color: #3c904c;
   background: #e3fbe8;
   height: 100%;
   box-shadow: 0px 1px 3px #00000087;
}

#textBox a:hover {
   text-decoration: underline;
}

#textHeader {
	display: block;
   background: #49b55c;
   color: white;
	box-shadow: 0px 1px 3px #00000087;
}

.outerWrapper {
	display: flex;
	width: 100%;
	margin-bottom: 70px;
	justify-content: center;
}

/* Antal bitar/satser */
#amountsWrapper {
   display: flex;
   flex-direction: column;
	justify-content: center;
	align-items: center;
}

.amountBox {
    color: #5f4400;
    background: #fbca43;
    width: 70%;
    margin-bottom: 50px;
    text-decoration: none;
    text-align: center;
    height: 40%;
    box-shadow: 0px 1px 3px #00000087;
}


.amountBox:hover {
   background: #f1c247;
   text-decoration: none;
}

.amountBox h1 {
   padding-top: 10px;
   padding-bottom: 10px;
   box-shadow: 0 1px 3px #00000087;
   color: white;
	background: #ffca43;
}

.amountBox p {
	font-size: 100px;
   margin-top: 40px;
	margin-bottom: 50px;
}

.num {
	font-size: 90px;
	margin: 14px;
}

/* Intressant och lärorik textruta */
#homeTextBox {
    background: white;
    width: 600px;
    margin-bottom: 25px;
}

#homeTextBox h1 {
    margin-top: 0;
}

#homeTextBox p {
    margin: 0 5px;
}

/* Diagram-sektion */
#diagramData {
    display: none;
}

#information {
   background: #9CC4EA;
   color: #183c5f;
	width: 100%;
   box-shadow: 0px 1px 3px #00000087;
}

#information h1 {
    background: #3872A9;
    color: white;
    box-shadow: 0px 1px 3px #00000087;
}

#information p {
   margin: 10px 200px 30px 200px;
}

.toplist{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.toplist h2 {
	margin-top: 70px;
	padding: 15px 10px;
	border-top: 2px solid;
	border-bottom: 2px solid; 
}

.toplist tr td:first-of-type {
	background-color: #3872a9;
    color: white;
    border-radius: 100px;
    text-align: center;
}

.toplist tr td:last-of-type {
    text-align: center;
}

.toplist table {
    border-spacing: 10px;
}
.toplist tr:first-of-type {
	color: #1c4b79;
}


/* Vill inte påverka p-taggarna i div:ar i #information, bara de som ligger direkt i*/
#information > p:first-of-type {
   border-top: 2px solid;
   padding-top: 10px;
   margin-top: 25px;
  
}

#information > p:last-of-type {
   border-bottom: 2px solid;
   padding-bottom: 10px;
   margin-bottom: 25px;
}

#diagram {
   position: relative; /* Låter denna div agera som ett slags ankare för #diagramInformation */
   background: #3872a9;
   color: white;
   margin: 0 50px 20px 50px;
   border-radius: 10px;
   box-shadow: 0 2px 3px 1px #00000087;
}

#diagramInformation {
   position: absolute; /* Vill positionera informationen centrerad och "ovanför" resten av innehållet */
   display: none; /* Görs synlig med JS */
   left: 0;
   right: 0;
   background: #154573;
   border-radius: inherit;
   box-shadow: inherit;
   text-align: center;
   font-size: 24px;
   padding: 10px 0;
}

#diagramInformation span {
   color: #f0c247;
}

#canvas {
    /* Sätter bredd till 100% här för att tvinga korrekt storlek, skalningen sköts i JS */
    width: 100%;
    border: none;
    z-index: 2;
}

	/* Sökfält för parts och sets	*/

/* Agerar som flex container för formuläret */
#searchBar {
    display: flex;
	background: #4479ab;
    width: 100%;
	height: 100%;
	padding: 0 10px;
}

#searchBar form {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	margin: 0 0 3px 0;
	align-items: center;
}

/* Sökfältet */
#searchText {
	margin: 1px auto;
	border: none;
	background: white;
	flex-shrink: 0;
	width: 300px;
}

#labelContainer {
	display: flex;
	background-color: #4478a9;
	flex-direction: column;
	flex-wrap: wrap;
	width: 50%;
}

.optionLabel {
	display: flex;
	align-items: center;
	font-size: 14px;
	width: 100%;
}

#searchFilter {
    height: 50px;
	flex-shrink: 0;
}

#tagList {
    display: none; /* Blir synlig med JS */
    background: white;
	width: 300px;
	float: left;
	position: absolute;
	overflow: hidden;
	align-self: initial;
}

/* Gör så att söktexten i tag-drop-downen inte går att klicka på

.searchContent {
	pointer-events: none;
}

Räknas dessvärre ej som CSS-standard och validerar ej
*/

.tagOption {
	margin: 0;
    padding: 3px;
}

/* Markerat tag-alternativ antingen med tangentbord eller mus (onhover) */
.selectedTag, .hashover:hover {
    background:#5b82d7;
}

#tagContainer {
    display: flex;
	width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

/* Själva taggarna (men inte div:ar i taggarna) */
#tagContainer > div {
    color: black;
    margin: 5px;
    font-size: 17px;
    border-radius: 4px;
	padding-left:10px;
	box-shadow: 0px 1px 5px #2d2d2dde;
}

.yearTag {
    background: #92c383;
}

.partTag {
    background: #ba87e8;
}

.setTag {
    background: #8EADF1;
}

.colorTag {
    background: #ffe079
}

/* Sökknapparna */
.button {
	border: none;
	font-size: 17px;
	flex-shrink: 0;
	background: #275582;
	color: white;
	font-family: inherit;
	padding: 1px 6px;
	border-radius: 2px;
	text-align: center;
}

#clearSearch {
	margin: 5px 0;
	background: #cc3939;
}

#clearSearch:hover {
	background: #8c2121;
}

#searchButton {
	margin-left: 20px;
	margin-right: 10px;
}

#searchButton:hover {
	background: #093a5d;
}

.removeButton {
	display: inline-block;
	width: 10px;
    height: 10px;
	margin: 1px 5px;
	opacity: 0.6;
}

label {
    color: white;
	margin: 5px;
	font-size: 15px;
}

/* Visas endast när sidan laddas efter sökning */
#loadBar {
	display: none;
	background: #E43E3E;
	color: white;
	width: 100%;
	height: 30px;
	padding: 2px;
	text-align: center;
}

#searchSuccess {
	color: white;
    background: #53a553;
	height: 30px;
	padding: 2px;
    text-align: center;
}

#searchError {
	color: white;
    background: #eaa21a;
    height: 30px;
    padding: 2px;
    text-align: center;
}

.table {
	background: lightBlue;
	color: #1c4b79;
	font-size: 20px;
	width: 100%;
	height: 100%;
}

.leftTable {
	background: #1c4b79;
	color: white;
}

td:nth-of-type(3) {
	padding-left: 30px; /* Lägger till lite mer utrymme efter den sista "mörka" kolonnen */
}

.leftTable img {
	border-radius: 4px;
}

/* Sidnavigation i resultatet */
#pageSelect {
	margin: 0 auto 30px auto;
}



	/* Användarens pop-up */

#pageBackground {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.55);

	/* När den är aktiv och har display: flex*/
	align-items: center;
	justify-content: center;
}

#profilePopup {
	display: none;
	height: 380px;
	background: #3872A9;
	text-align: center;
	border-bottom: 29px solid #d6b14d;
	box-shadow: 0px 3px 7px #191919;
}

#profileheader{
	background-color: #d6b14d;
	box-shadow: 0px 3px 7px #3e3e3e;
}

#profileWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 50px 18px;
}

#profileParts{
	width: 100%;
	height: 120px;

}

#profileSets {
    width: 100%;
	height: 120px;
}

p.numprofile{
	font-size: 60px;
	margin: 0px;
}
p.profileinfo{
	font-size: 42px;
	margin: 0px;
}

#profilePSwrapper{
	float: left;
	
}

#profilePartslarge{
	height: 200px;
    width: 200px;
    margin: 0px;
	
}


	/* Sets */

table {
	border-spacing: 0;
}

th, td {
	padding: 15px;
}

.dataColumn {
	background: #1c4b79;
	color: white;
	font-size: 18px;

}

.partpicture{
	height: 60px;
    width: 80px;
}

#idColumn {
	width: 75px;
}

.partsAmount {
	color: #1c4b79;
	text-align: center;
}

.histogram {
	height: 20px;
	display: block;
	background: #1c4b79;
	width: 100px;
	padding: 0;
}

#histogramColumn {
	color: #1c4b79;
}

.histogramCell {
	width: 50%;
}

/* Media queries - För bättre responsivitet */
@media screen and (max-width: 1300px){
	.outerWrapper {
		flex-direction: column;
	}
}
@media screen and (max-width: 1300px){
	#profileWrapper {
		flex-direction: column;
		margin: 15px 18px;
	}
	#profilePopup{
		height: 495px;
	}
	
	#searchText{
		    width: 180px;
		
	}
}
@media screen and (max-width: 1000px) {
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 40px;
	}
	p {
		font-size: 38px;
	}
	em {
		font-size: 36px;
	}
	#page {	
		margin: 0;
		width: 100%;
	}
	#logo {
		display: none;
	}
	#header {
		height: 200px;
	}
	.navOption {
		width: 240px;
		margin: 0;
	}
	.amountBox {
		margin: 0;
		width: 100%;
	}
	.outerWrapper {
		margin: 0;
	}
}
@media screen and (max-width: 800px){
     #searchFilter {
		width: 50px;
	}	
}

