	/* Fonts etc */


	/* Nav */

#header {
   background: #3872A9;
   height: 70px;
   margin: 0;
   display: flex;
   align-items: center;
}


#logo {
   width: 200px;
   margin-right: 20px;
   padding-left: 10px;
   height: 100%;

   background: #458BCF;
   color: #F0C247;
   font-size: 30px;
   flex-shrink: 0;
}


#nav {
   width: 100vw;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.navOption {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: white;
	height: 100%;
	width: 150px;
}

.navOption:hover {
	background: #F0C247;
	color: #3872A9;
}

.navOption p {
   margin: 0;
}


#profile {
   height: 70px;
   width: 70px;
   background: #F0C247;

   /* För att inte mosa användarrutan med flex*/
   flex-shrink: 0;
}


	/* Page */

	
body {
   margin: 0;
   background: #EEE;
   color: white;
   font-size: 25px;
   font-family: sans-serif;
   overflow-x: hidden;
}


/* Eventuellt flytta till home om ej används någon annanstans */
h1 {
   font-size: 30px;
   text-align: center;
   margin: 0;
}


/* Inledande innehåll: Antal bitar, satser och lite text */
#page {
   color: black;
   width: 70%;
   height: 100%;
   margin: 50px auto 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}


	/* Home */

	
/* Generell wrapper-div */
.wrapper {
   width: 450px;
}


/* Antal bitar/satser */
#amountsWrapper {
   display: flex;
   flex-direction: column;
}

.amountBox {
   background: #F0C247;
   margin-bottom: 25px;
   text-decoration: none;
   color: black;
}


/* Intressant och lärorik textruta */
#homeTextBox {
   margin-bottom: 25px;
   background: white;
   width: 600px;
}


#homeTextBox h1 {
   margin-top: 0;
}


#homeTextBox p {
   margin: 0 5px;
}


/* Diagram-sektion */
#diagramData {
	display: none;
}

#diagrams {
	width: 100%;
	background: #9CC4EA;
}


#diagrams h1 {
   margin: 0;
   color: white;
   background: #3872A9;
}

#canvas {
	border: none;
	width: 100%;
}


.diagram {
	
}


	/* Sökfält för parts och sets	*/

	
#searchBar {
	background: #3872A9;
	padding: 0 10px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
}

#searchBar form {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 30px;
	margin: 0;
}

#searchText {
	margin: 0 20px 0 0;
	background: white;
	flex-shrink: 0;
	width: 300px;
}

#tagList {
	background: white;
	width: 300px;
	float: left;
	display: none;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}

/* Gör så att söktexten i tag-drop-downen inte går att klicka på

.searchContent {
	pointer-events: none;
}

*/


#tagContainer {
	width: 100%;
}

.removeButton {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: red;
}

label {
	margin: 0 10px;
	color: white;
}

.navFilter {
	background: gold;
	width: 100px;
	text-align: center;
	margin: 0 20px;
}

.navFilter p {
	margin: 0;
	color: darkBlue;
}

.table {
	background: lightBlue;
	width: 100%;
	height: 100%;
}

	/* Användarens pop-up */

#profilePopup{
	position: absolute;
	display: none;
	float: right;
	width: 300px;
	height: 160px;
	background: #F0C247;
	text-align: center;
}

#profileWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#profileParts{
	width: 100%;
	border: 5px solid #3872A9;
}
#profileSets{
	border: 5px solid #3872A9;
	width: 100%;
}

	/* Sets */



	/* Pop-up */

