body {
   margin: 0;
   background: white;
   color: white;
   font-size: 25px;
   font-family: sans-serif;
}

/* Navigationsmeny med logga och användare */
#header {
   background: darkBlue;
   height: 70px;
   margin: 0;
   display: flex;
}

#logo {
   width: 200px;
   margin-right: 20px;
   margin-left: 10px;
   align-self: center;

   color: gold;
   font-size: 30px;
}

#nav {
   width: 100vw;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.navOption {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 150px;
   height: 100%;
}

.navOption:hover {
   background: gold;
   color: darkBlue;
}

.navOption p {
   margin: 0;
}

#profile {
   height: 70px;
   width: 70px;
   background: gold;

   /* För att inte mosa användarrutan med flex*/
   flex-shrink: 0;
}

/* Inledande innehåll: Antal bitar, satser och lite text */
#page {
	display: flex;
	flex-wrap: wrap;
}


/* Diagram-del */
#diagrams{
	background: LightSkyBlue;
}

.amountBox {
   display: flex;
   flex-direction: columns;
   justify-content: center;
   width: 200px;
   margin: 50px;
   background: gold;
}

#textBox{
	color:black;
}	

.wrapper{
	display: flex;
	justify-content: center;
}
